<p>
  javascript-practice works!
</p>
<p>
  Practice #1 : Write a JavaScript function that reverse a number
  <br/>
  Original number is 123456789, run reverseNumber(123456789) to get {{reverseNumber(123456789)}}
</p>

<p>
  Practice #2 : checks whether a passed string is palindrome or not
  <br/>
  Count the space
  <br/>
  A string is abcdefg, it is {{isPalindrome('abcdefg') ? '':'not'}} a palindrome.
  <br/>
  A string is 'a bcdefgf  edc ba', it is {{isPalindrome('a bcdefgf  edc ba') ? '':'not'}} a palindrome.

  <br/>
  Do not count the space
  <br/>
  A string is abcdefg, it is {{isPalindrome('abcdefg', false) ? '':'not'}} a palindrome.
  <br/>
  A string is 'a bcdefgf  edc ba', it is {{isPalindrome('a bcdefgf  edc ba', false) ? '':'not'}} a palindrome.
</p>

<p>
  Practice #3 : generates all combinations of a string
  <br/>
</p>

<p>
  Practice #4 : take the num parameter being passed and return the factorial of it
  <br/>
</p>
